# Environment variables
.env
.secretstomltoml


# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# API key file
api_key.py 
